@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.wrapper{
    width: 100%;
    margin: 0 auto;
    max-width: 980px;
    transition: all 0.6s ease;
}

 
 body{
     margin: 0px;
     padding: 0px;
     background-color: #e7ecea;
     font-family: 'Varela Round', sans-serif;
    }
    
ul{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
h1{
     margin-top: 0px;
     color: #f5f5f5;
}
#titleForAcc {
  padding-top: 10%;
  margin: 0%;
  color: #139e6b;
  font-weight: bold;
}
.allContentWrap{
    padding-top: 20%;
}
nav{
   
        width: 82%;
        display: block;
        margin: 0 auto;
    
}

    nav ul li{
      display: inline-block;
      list-style-type: none;
    }
    nav ul li button{
        position: relative;
        display: inline-block;
        list-style-type: none;
        background-color: #2cc185;
            border: none;
            outline: none;
        text-decoration: none;
        color: #139e6b;
        font-size: 12px;
        user-select: none;
        line-height: 20px;
        padding: 10px 40px;
        
        border-top-left-radius: 8px;
        transition: all 0.3s ease;
        border-bottom-left-radius: 0px;
        clip-path: polygon(0 0, 79% 0%, 100% 100%, 0% 100%);
        user-select: none;
    }

    
    .forActiveBtn{
      background-color: white;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 0px;
      clip-path: polygon(0 0, 79% 0%, 100% 100%, 0% 100%);
      user-select: none;
    } 

   
     
   

    nav li button:focus { background-color: white }

     
     nav li button:hover {
      background-color: white;
    }
    .main{
         
        margin: 0 auto;
        background-color: white;
        text-align: center;
        width: 86%;
        height: 500px;
        
      }
      .main h1{
        padding-top: 20%;
        font-size: 50px;
        user-select: none;
        color: #139e6b;

        
      }
      /* For Div [1] [2] [3] [4] [5] Display */

      .active01 {
        display: none;
      }
      .disPlay{
        display: block;
      }


      .accordionWrapper{
         
        padding-top: 5%;
        margin: 0 auto;
        width:48%;
        box-sizing:border-box;
            
        }
    .accItem{
        float:left;
        display:block;
        width:100%;
        user-select: none;
        box-sizing: border-box;
        font-family:'Open-sans',Arial,sans-serif;
    }
    .accItemHead{
        cursor:pointer;
        margin:0px 0px 10px 0px;
        padding:10px;
        background:#346866;
        color:#fff;
        width:100%;
        font-size: 15px;
        box-sizing: border-box;
    }
    
    .accordionItemContent{
      display: none;
    }
    
    .open{
        padding: 20px;
        background-color: #b9ffb7;
        border: 1px solid #ddd;
        width: 100%;
        margin: 0px 0px 10px 0px;
        display:block;
        transform: scaleY(1);
        transform-origin: top;
        
        box-sizing: border-box;
        animation: slide-down .3s ease-out;
         
         
        
    }
    @keyframes slide-down {
      0% { opacity: 0; -webkit-transform: translateY(-10%); }   
    100% { opacity: 1; -webkit-transform: translateY(0); }
    
     
    }
    .accItemHead:after {
      content: '\002B';
      color: white;
      font-weight: bold;
      font-size: 18px;
      float: right;
      margin-left: 5px;
    }
    .active:after {
      content: "\2212";
    }
    
 

     
 